@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	background: #FFFFFF;
	color: #6e6e6e;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

/* p
{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 1.86;
	font-weight: 400;
	color: #909090;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
} */
p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

/* p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgb(51,143,255);
	color: #fff;
}
p::selection
{
	background: #ffd9bf;
} */
h1 {
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 11px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #28262d;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}


.form-control {
	color: #db5246;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.bez_1 {
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.fill_height {
	height: 100%;
}

.super_container {
	width: 100%;
	overflow: hidden;
}

.button {
	display: inline-block;
	height: 54px;
	width: 174px;
	text-align: center;
	border: solid 2px #452b78;
	background: transparent;
}

.button a {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	color: #452b78;
}

/*********************************
3. Home
*********************************/

.home {
	width: 100%;
	margin-top: 72px;
}

.home_background_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home_background {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/*********************************
3.1 Header
*********************************/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	z-index: 10;
}

/*********************************
3.1.1 Logo
*********************************/

.logo {
	padding-left: 57px;
	flex-basis: 50%;
}

.logo a {
	font-size: 36px;
	font-weight: 500;
	color: #fefefe;
	letter-spacing: 0.1em;
	line-height: 128px;
}

.logo a span {
	font-weight: 800;
	color: #ff6b09;
	text-transform: uppercase;
}

/*********************************
3.1.2 Main Navigation
*********************************/

.main_nav {
	flex-basis: 200%;
}

.main_nav ul {
	display: flex;
	/* display: inline-block;
	margin-right: 100px;
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	transform: translateY(-4px); */
}

.main_nav ul li {
	display: inline-block;
	margin-right: 65px;
}

.main_nav ul li:last-child {
	margin-right: 0px;
}

.main_nav ul li a {
	display: block;
	font-size: 15px;
	font-weight: 400;
	line-height: 40.51px;
	color: rgb(107, 108, 108);
}

.main_nav ul li.active a {
	font-weight: 700;
}

/*********************************
3.1.3 Search
*********************************/

.search {
	display: inline-block;
	margin-right: 49px;
	width: 237px;
	height: 100%;
}

.search_content {
	width: 100%;
	height: 100%;
}

.search_button {
	width: 40px;
	height: 40px;
	background: transparent;
	cursor: pointer;
}

.search_button:active {
	background: #301b54;
}

.search_form {
	position: absolute;
	right: 0;
	top: 90px;
	width: 237px;
	height: 40px;
	visibility: hidden;
	opacity: 0;
}

.search_form.active {
	top: 75px;
	visibility: visible;
	opacity: 1;
}

.search_input {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	color: #1b0b32;
	padding-left: 20px;
	outline: none !important;
	border: none !important;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/*********************************
3.1.4 Hamburger
*********************************/

.hamburger_container {
	display: none;
	cursor: pointer;
	margin-right: 40px;
	flex-basis: 40px;
	text-align: right;
}

.hamburger_container i {
	font-size: 24px;
	padding: 10px;
	color: #FFFFFF;
}

.hamburger_container:hover i {
	color: #ff6b09;
}

/*********************************
3.2 Hero Slider
*********************************/

.hero_slider_container {
	width: 100%;
	height: 100%;
	z-index: 9;
}

.hero_slider {
	width: 100%;
	height: 100%;
}

.hero_slider_item {
	height: 100%;
}

.item_1 span {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
	color: #FFFFFF;
}

.item_1 span:nth-child(2) {
	margin: 15px 0;
}

.hero_slider_nav {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}

.hero_slider_nav_left {
	left: 50px;
}

.hero_slider_nav_right {
	display: none;
	right: 50px;
}

.hero_slider_nav div {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}

.hero_slider_nav div::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: #ff6b09;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.hero_slider_nav div i {
	font-size: 18px;
	color: #a2baff;
}

.hero_slider_nav div:hover::before {
	opacity: 1;
	transform: scale(1);
}

.hero_slider_nav div:hover i {
	color: #251343;
}

.hero_side_text_container {
	position: absolute;
	top: 0;
	right: 285px;
	width: 865px;
	height: 236px;
	background: #301b55;
	z-index: 9;
	transform-origin: top right;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.hero_side_text {
	width: 80.5%;
	height: 100%;
	padding-right: 170px;
	padding-top: 51px;
	float: left;
}

.hero_side_text h2 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	color: #9878e2;
}

.hero_side_text p {
	display: block;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.25;
	color: #FFFFFF;
}

.double_arrow_container {
	width: 19.5%;
	height: 100%;
	float: left;
}

.double_arrow {
	padding: 5px;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
	cursor: pointer;
}

.double_arrow i {
	color: #FFFFFF;
}

.double_arrow i:first-child {
	margin-right: -3px;
}

.double_arrow:hover i {
	color: #ff6b09;
}

/*********************************
3.3 Next Section Scroll
*********************************/

.next_section_scroll {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 40px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 9;
	padding: 10px;
}

.next_section i {
	display: block;
	color: #FFFFFF;
}

.next_section i:first-child {
	margin-bottom: -4px;
}

.next_section_scroll:hover i {
	color: #ff6b09;
}

/*********************************
4. Menu
*********************************/

.menu_container {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 11;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu_container.active {
	right: 0;
	opacity: 1;
}

.menu {
	width: 100%;
	height: 100%;
}

.menu_close {
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
}

.menu_close i {
	font-size: 28px;
}

.menu_close:hover i {
	color: #ff6b09;
}

.menu ul {
	padding-top: 115px;
	padding-right: 50px;
}

.menu ul li {
	position: relative;
}

.menu ul li::after {
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #ff6b09;
	content: '';
}

.menu ul li.active a {
	font-weight: 700;
}

.menu ul li a {
	color: #000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu ul li a:hover {
	color: #ff6b09;
}

/*********************************
5. Icon Boxes
*********************************/

.icon_boxes {
	width: 100%;
	padding-top: 123px;
	padding-bottom: 129px;
}

.icon_box_title {
	padding-right: 50px;

}

.icon_box_title h1 {
	line-height: 1.25;
}

.icon_box_button {
	margin-top: 40px;
}

.icon_box_button:hover {
	background: #452b78;
}

.icon_box_button:hover a {
	color: #FFFFFF;
}

.icon_box_col {
	padding-top: 21px;
}

.icon_box_item {
	margin-bottom: 63px;
}

.icon_box_item:last-child {
	margin-bottom: 0px;
}

.icon_box_item h2 {
	margin-bottom: 21px;
}

.icon_box_item p {
	margin-bottom: 0px;
}

/* navbar */
.navbar {
	padding: 0.5rem 8rem;
	background: rgba(255, 255, 255, 0.9);
	min-height: 60px;
}

.logo {
	padding: 0;
	flex-basis: 12%;
}

.navbar button {
	border: none;
	padding: 0
}

.navbar button:focus {
	outline: 0;
}

.navbar ul {
	flex-basis: 100%;
	display: flex;
	justify-content: space-around;
}

.navbar .show ul {
	opacity: 0.8;
}

.navbar ul li a {
	display: block;
	font-size: 15px;
	font-weight: 400;
	line-height: 40.51px;
	color: rgb(107, 108, 108);
}

.navbar li a:hover {
	font-weight: 600;
}

.navbar .active a {
	font-weight: 700;
}

/* footer */
.footer {
	background: #fff;
	color: #767676;
	width: 100%;
	padding: 20px 0 0;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 12px;
}

.footer-flex {
	display: flex;
	justify-content: center
}

.footer-ul {
	display: flex
}

.footer-ul li {
	margin-right: 40px
}

.footer-ul li>div {
	color: rgb(94, 185, 94);
	font-weight: 600
}

.footer-ul li a {
	display: block;
	color: #848383;
}

.footer-ul li a:hover {
	color: black;
}

.footer-flex .server-erweima,
.footer-flex .copy-text {
	width: initial;
	margin: initial;
}

.footer .copy-hao {
	margin: 0;
	width: initial;
	padding: 10px 0 40px;
	text-align: center
}

.server-erweima ul li {
	margin: 0 22px;
	float: left;
	text-align: center;
}